*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
}

.inicio{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    margin-top: 3vh;
    height: 15vh;
    width: 90vw;
    margin-left: 4.5vw;
} /*Codigo de la barra de busqueda*/
.buscador {
    position: relative;
    width: 300px;
    margin: 20px auto;
  }
  
  #busqueda {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
  }
  
  #lupa {
    position: absolute;
    top: 12px;
    right: 12px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  #lupa img {
    width: 20px;
    height: 20px;
  }
  
  #resultados {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
/*Fin codigo barar busqueda*/
.subs{
    background-color: rgb(9, 174, 67);
    border: 0;
    border-radius: 50px;
    width: 100px;
    height: 43px;
    font-size: 15px;
    margin-right: 10px;
}
.secciones{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 90vw;
    margin-left: 4.5vw;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 2vw;
}
nav ul li{
    cursor: pointer;
}


.contenedor_principal{
    height: 75vh;
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: 4.5vw;
}

.imgprincipales{
    width: 100%;
    height: auto;
    padding: 1rem;
}

.principal1{
    grid-column: 1/2;
    grid-row: 1/4;
    padding: 1rem;
}
.principal2{
    grid-column: 2/3;
    grid-row: 1/4;
    padding: 1rem;
}
.principal3{
    grid-column: 3/4;
    grid-row: 1/4;
    padding: 1rem;
}

/* .line{
    background-color: rgb(200, 200, 200);
    width: 80vw;
    height: 1px;
    margin-top: 3vh;
    margin-left: 9vw;
    margin-bottom: 3vh;
} */

/* .contenedorline{
    width: 100vw;
    height: 10vh;
    position: relative;
} */

hr{
    background-color: rgb(200, 200, 200);
    width: 80vw;
    height: 1px;
    margin-top: 3vh;
    margin-left: 9vw;
    margin-bottom: 3vh;
}

.contenedor_segmentos{
    height: 35vh;
    width: 90vw;
    margin-left: 4.5vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr ;
}

.segmento1{
    grid-column: 1/2;
    grid-row: 1/3;
    padding: 1rem;
}
.segmento2{
    grid-column: 2/3;
    grid-row: 1/3;
    padding: 1rem;
}
.segmento3{
    grid-column: 3/4;
    grid-row: 1/3;
    padding: 1rem;
}
.segmento4{
    grid-column: 4/5;
    grid-row: 1/3;
    padding: 1rem;
}

.contenedor_noticias{
    height: 220vh;
    width: 90vw;
    margin-left: 4.5vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.noticias1{
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 2rem;
}
.noticias2{
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 2rem;
}
.noticias3{
    grid-column: 3/4;
    grid-row: 1/2;
    padding: 2rem;
}
.noticias4{
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 2rem;
}
.noticias5{
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 2rem;
}
.noticias6{
    grid-column: 3/4;
    grid-row: 2/3;
    padding: 2rem;
}
.noticias7{
    grid-column: 1/2;
    grid-row: 3/4;
    padding: 2rem;
}
.noticias8{
    grid-column: 2/3;
    grid-row: 3/4;
    padding: 2rem;
}
.noticias9{
    grid-column: 3/4;
    grid-row: 3/4;
    padding: 2rem;
}

.contenedor_listados{
    height: 100vw;
    width: 90vw;
    margin-left: 4.5vw;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.imglist{
    display: flex;
    position: relative;
    top: 20%;
}

.textlist1{
    width: 50%;
    height: auto;
    position: relative;
    left: 30%;
    top: -25%;
}

.listados1{
    grid-row: 1/2;
}

.listados2{
    grid-row: 2/3;
}

.listados3{
    grid-row: 3/4;
}

.listados4{
    grid-row: 4/5;
}

.hrnew{
    position: relative;
    right: 5%;
}


.footer1{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 10vh;
    width: 90vw;
    margin-left: 5vw;
}
.footer1 img {
    height: 23vh;
} 

.footer2{
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none; 
    color: inherit;
  }
  
  a:visited {
    color: inherit;  
  }
  
  a:hover, a:focus {
    text-decoration: none;  
    color: inherit;  
  }
  